<h1>Chef List</h1>

<tbody>
    <% @chefs.each do |chef| %>
      <tr>
        <td><%= chef.name %></td>
        <td><%= chef.show %></td>
        <td><%= chef.specialty %></td>
        <td><%= chef.avatar %></td>
        <td><%= link_to('show', chef_path(chef.id)) %></td>
        <td><%= link_to('edit', edit_chef_path(chef.id)) %></td><br>    
      </tr>

    <% end %>
  </tbody>s