<h1>Chef List</h1>
<table>
  <tbody>
    <% @chefs.each do |chef| %>
      <tr>
        <td><%= chef.name %></td>
        <td><%= chef.specialty %></td>
        <td><%= chef.show %></td>
        <td><%= link_to('show', chef_path(chef.id)) %></td>
        <td><%= link_to('edit', edit_chef_path(chef.id)) %></td>
        <td><%= link_to("delete", chef_path(chef.id), method: :delete, confirm: "Are you sure") %></td>
      </tr>

    <% end %>
  </tbody>
</table>