<!DOCTYPE html>
<html>
<head>
  <title>JustinsBrazilianCookery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="one">
    <h3>Justin's Brazilian Cookery</h3>
  </div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>

<div id="four"><%= yield %><div>
  <div id="two">
      
</ul>
  </div>
</body>
</html>
